.App {
  /* text-align: center; */
  background-color: #271e1e;
  min-height: 100vh;
  color: white;
}






#logo_title{
  font-family: 'Cinzel', serif;
  color: white;
  position: relative;
  padding-left: 20px;


 

}


/* css for login/signup button */





button {
  border: none;
  padding: 10px 20px;
  font-size: 24px;
  position: absolute;
  background: transparent;
  color: #ff0000;
  /* text-transform: uppercase; */
  border: 3px solid #ffffff;
  cursor: pointer;

  border-radius: 30px;
  margin-left: 90%;
  top: 3%;

  
}

button:hover {
  color: #ffffff;
  border: 3px solid #ff0000;
}


