.App {
  /* text-align: center; */
  background-color: #271e1e;
  min-height: 100vh;
  color: white;
}






#logo_title{
  font-family: 'Cinzel', serif;
  color: white;
  position: relative;
  padding-left: 20px;


 

}


/* css for login/signup button */








