

#task_item{
   /* min-height: 100px; */
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-color: greenyellow;
    padding: 10px;
    border: 5px;
}

#task_card{
    min-height: 100px;
    background-color: black;

}

#description{
    font-size: 0.6em;
}


#item_footer{

    display: flex;
    
}
#del_edit{
    margin-left:70%;
}